@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Helsinki', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Helsinki';
  src: url('./fonts/helsinki.ttf');
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('./fonts/JosefinSans-VariableFont_wght.ttf');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}